.centered {
  height: 40vh;
  background: #f8f9fa;
  background-color: #f8f9fa;
  border-radius: 10px; /* Adicionando borda arredondada */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adicionando sombra */
  margin-top: 40px;
}

body {
  background: #f8f9fa;
  font-family: Arial, sans-serif; /* Adicionando uma fonte genérica */
  
}


.tabela-cor {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  margin-left: 30%;
  margin-right: 30%;
  align-items: center;
  background-color: #f8f9fa;
  
}
.tabela-cor th,
.tabela-cor td {
  border: none;
  padding: 5px;
  padding-left: 0;
  padding-right: 0;
}

.pai {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.filho {
  width: 50%;
  align-items: center;
  text-align: center;
}

/* Melhoria na media query para dispositivos móveis */
@media only screen and (max-width: 600px) {
  .centered {
    margin-top: 70px;
    height: 30vh; /* Reduzindo a altura para dispositivos móveis */
  }
  .tabela-cor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    background-color: #f8f9fa;
    border-collapse: collapse;
  }

}