{% extends 'base.html' %}

{% block page_title %}
Lista de Chamados
{% endblock page_title %}
    

{% block content %}
    

<h1>Lista de Chamados</h1>
<table class="table table-striped">
    {% for chamado in object_list %}
    <tr><th>
        <ul style="list-style-type: disc;">
        <li><a href="{% url 'chamado-detail' chamado.pk %}">{{ chamado.titulo }}</a></li>
    </th></tr>
    {% endfor %}
    </ul>
    <br>
</table>
<a href="{% url 'chamado-create' %}" class="btn btn-primary" style="margin-left: 10px;">Novo Chamado</a>
{% endblock content %}

