{% extends 'base.html' %}
{% load static %}

{% block page_title %}Chamado Detalhes{% endblock page_title %}

{% block content %}
    
<table style="border: 1px solid black;margin-left: 10px;">
    <tr style="border: 1px solid black;">
        <th colspan="2" style="text-align: center; border: 1px solid black;"><h2>Chamado Detalhes</h2></th>
    </tr>
    <tr style="border: 1px solid black;"><th style="border: 1px solid black;">ID</th><td style="padding-left: 10px;">{{ object.pk }}</th></tr>
    <tr style="border: 1px solid black;"><th style="border: 1px solid black;">Título</th><td style="padding-left: 10px;">{{ object.titulo }}</td></tr>
    <tr style="border: 1px solid black;"><th style="border: 1px solid black;">Descrição</th><td style="padding-left: 10px;">{{ object.descricao }}</td></tr>
    <tr style="border: 1px solid black;"><th style="border: 1px solid black;">Usuário</th><td style="padding-left: 10px;">{{ object.usuario }}</td></tr>
    <tr style="border: 1px solid black;"><th style="border: 1px solid black;">Setor</th><td style="padding-left: 10px;">{{ object.setor }}</td></tr>
    <tr style="border: 1px solid black;"><th style="border: 1px solid black;">Data</th><td style="padding-left: 10px;">{{ object.data }}</td></tr>
    {% if object.tecnico == None %}<tr><th></th><td></td></tr>{% else %}<tr><th>Técnico</th><td style="padding-left: 10px;">{% endif %}</td></tr>
    <tr style="border: 1px solid black;"><th style="border: 1px solid black;">Atendido</th><td style="padding-left: 10px;">{% if object.atendido %} Sim {% else %} Não {% endif %}</td></tr>
    <tr style="border: 1px solid black;"><th style="border: 1px solid black;text-align: center;">
        <a href="{% url 'chamado-update' object.pk %}">Editar</a>
    </th>
    <th style="border: 1px solid black;text-align: center;">
        <a href="{% url 'chamado-delete' object.pk %}">Deletar</a>

    </th>
</tr>
</table>

{% endblock content %}

